#widgets_body {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.widget {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 50%;
  border: black 1px groove;
}

.widget_header {
  display: flex;
  align-content: space-between;
  flex-shrink: 0;
  height: 10%;
}

.widget_header_index_position_box {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 88%;
  gap: 4px;
  padding-right: 4px;
}

.widget_header_index_position {
  width: auto;
  flex-grow: 1;
  min-width: 0;
  height: 26px;
  padding: 5px;
  box-sizing: border-box;
}

.widget_header_index_position_box > aside:last-child {
  margin-left: auto;
}

.widget_controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.widget_dropdown {
  height: 30px;
  width: auto;
}

.widget_content_type {
  display: flex;
  align-content: space-between;
  flex-shrink: 0;
  height: 10%;
}

.widget_body {
  flex-grow: 1;
  padding: 5px;
  overflow-y: auto;
  width: 100%;
}

.widget_footer {
  height: 2.5em;
  padding: 5px;
  text-align: left;
}

