# No build/cache files
*.o
*.vs
*.out
*.idea
**/out/**
*.vscode
*.DS_Store
*.code-workspace

# No temporary files
*tmp*

database/cache/**
!database/cache/.gitkeep

front/cache/**
!front/cache/.gitkeep

backend/cache/**
!backend/cache/.gitkeep

# No build files
bootstrap
bin/*
build/*
_deps/*
dist/*
**/_deps/*

# No editor config files
.vscode
